.App {
  text-align: center;
}
.login{
  background-color: #F45656;
  width: 100%;
  height: -webkit-fill-available;
  color: #F7F7F7;
  font-family: 'Pacifico', cursive;
}
.back-img{
  width: -webkit-fill-available;
}